<header class="header">
  <img
    alt="Scorpion logo"
    class="header-logo"
    src="https://media-exp1.licdn.com/dms/image/C4E0BAQFcJGxK7iIF9g/company-logo_200_200/0?e=2159024400&v=beta&t=OJiW_JucTeBQ1DE5gV4thX6uq_7Um9YKmG6KA972Bx8"
  />
  <h1 class="header-title">{{ title }}</h1>
</header>

<nav class="nav">
  <a class="nav-link" routerLink="/">Info</a>
  <a class="nav-link" routerLink="/profile-details">Profile Details</a>
  <a class="nav-link" routerLink="/profile-listing">Profile List</a>
</nav>

<div class="app">
  <router-outlet></router-outlet>
</div>
